<section class="profile">
  <div class="profile-item">
    <h2>プロフィール</h2>
  </div>
  <div class="row">
    <div class="col-lg-3 profile-content">
      <div>
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(gravity: :center, resize:"200x200^", crop:"200x200+0+0").processed, {class: "avatar"} %>
        <% end %>
      </div>
      <div class="user-name">
        <h4><%= @user.username %></h4>
      </div>
      <div class="follow-form">
        <%= render 'follow_form'%>
      </div>
      <div class="stats">
        <%= render 'shared/stats' %>
      </div>
      <div>
        <%= link_to 'このユーザーがいいねした投稿を見る', likes_user_path(@user) %>
      </div>
      <% if @user == current_user %>
        <div>
          <%= link_to 'プロフィールを変更する', edit_user_registration_path %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-9">
      <div class ="row">
        <% @posts.each do |post| %>
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <%= image_tag post.display_image, class: "post-user-index-img" %>
              <div class="card-body text-center">
                <h4 class="card-title"><%= post.title %></h4>
                <%= link_to '詳細', post_path(post), class: "btn btn-warning" %>
                <% if post.liked_by?(current_user) %>
                  <i class="fas fa-heart like-btn"></i>
                <% else %>
                  <i class="far fa-heart unlike-btn"></i>
                <% end %>
                <%= post.likes.count %>
              </div>.
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>