<section class="user-sign-up">
  <div class="user-sign-up-item">
    <h2><%= t('.sign_in') %></h2>
  </div>
  <div class="user-sign-up-form">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-3">
            <%= f.label :email, { class: "form-label"} %><br />
            <%= f.email_field :email, { class: "form-control", placeholder: "Eメール"} %>
          </div>
          <div class="mb-3">
            <%= f.label :password, { class: "form-label"} %>
            <%= f.password_field :password, { class: "form-control", placeholder: "パスワード"} %>
          </div>
          <div class="mb-3">
            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            <% end %>
          </div>
          <div class="mb-3">
            <%= f.submit t('.sign_in') %>
          </div>
        <% end %>
        <%= link_to '新規登録はこちらから', new_user_registration_path %>
      </div>
    </div>
  </div>
</section>
