<section class="post-show">
 <div class="post-show-item">
  <h2>投稿詳細</h2>
 </div>
 <div class="post-show-contents">
  <div class="row d-flex justify-content-center">
   <div class="col-md-4">
    <div class="card">
     <%= image_tag @post.display_image, class: "card-img-top" %>
     <div class="card-header bg-warning text-light">投稿者</div>
     <div class="card-body"><%= link_to @post.user.username, user_path(@post.user_id) %></div>
     <div class="card-header bg-warning text-light">料理名</div>
     <div class="card-body"><%= @post.title %></div>
     <div class="card-header bg-warning text-light">投稿内容</div>
     <div class="card-body"><%= @post.content %></div>
     <div class="card-header bg-warning text-light">いいね数</div>
     <div class="card-body">
      <% if @post.liked_by?(current_user) %>
       <%= link_to post_like_path(@post.id), class: "like-link", method: :delete do %>
        <i class="fas fa-heart like-btn"></i>
        <%= @post.likes.count %>
       <% end %>
      <% else %>
       <%= link_to post_likes_path(@post.id), class: "like-link",  method: :post do %>
        <i class="far fa-heart unlike-btn"></i>
        <%= @post.likes.count %>
       <% end %>
      <% end %>
     </div>
    </div>
    <div>
     <%= link_to 'この投稿をいいねしたユーザーを見る', post_likes_path(@post.id) %>
    </div>
    <div>
     <% if @post.user == current_user %>
      <div>
       <%= link_to "投稿を編集する", edit_post_path %>
      </div>
      <div>
       <%= link_to "投稿を削除する", post_path , {method: "delete"} %>
      </div>
     <% end %>
    </div>
   </div>
  </div>
 <div>
</section>