<section class="post-show">
 <div class="post-show-item">
  <h2>投稿詳細</h2>
 </div>
 <div class="post-show-contents">
  <div class="row d-flex justify-content-center">
   <div class="col-md-4">
    <div class="card post-show-card">
     <% if @post.display_image %>
      <%= image_tag @post.display_image, class: "card-img-top" %>
     <% end %>
     <div class="card-header bg-warning text-light">投稿者</div>
     <div class="card-body">
      <%= link_to user_path(@post.user), {class: "link"} do %>
       <% if @post.user.avatar.attached? %>
         <%= image_tag @post.user.avatar.variant(gravity: :center, resize:"40x40^", crop:"40x40+0+0").processed, {class: "avatar"} %>
       <% else %>
         <%= image_tag("default_user.jpg", size: "40x40", class: "avatar") %>
       <% end %>
       <%= @post.user.username %>
      <% end %>
     </div>
     <div class="card-header bg-warning text-light">料理名</div>
     <div class="card-body"><%= @post.title %></div>
     <div class="card-header bg-warning text-light">投稿内容</div>
     <div class="card-body"><%= @post.content %></div>
     <div class="card-header bg-warning text-light">いいね数</div>
     <div class="card-body">
      <% if @post.liked_by?(current_user) %>
       <%= link_to post_like_path(@post.id), class: "like-link", method: :delete do %>
        <i class="fas fa-heart like-btn"></i>
        <%= @post.likes.count %>
       <% end %>
      <% else %>
       <%= link_to post_likes_path(@post.id), class: "like-link",  method: :post do %>
        <i class="far fa-heart unlike-btn"></i>
        <%= @post.likes.count %>
       <% end %>
      <% end %>
     </div>
    </div>
    <div class="d-grid gap-2 mx-auto text-center">
     <%= link_to 'この投稿をいいねしたユーザーを見る', post_likes_path(@post.id), class: "btn btn-warning" %>
    <% if @post.user == current_user %>
      <%= link_to "投稿を編集する", edit_post_path, class: "btn btn-warning" %>
      <%= link_to "投稿を削除する", post_path , method: "delete", class: "btn btn-warning" %>
    <% end %>
    </div>
    </div>
   </div>
  </div>
 <div>
 
 <div class="post-show-new-comment">
  <h2>投稿に対するコメント</h2>
 </div>
 <div class ="comment-new-form">
  <div class="row d-flex justify-content-center">
   <div class="col-md-4">
    <%= form_with model: [@post, @comment], local: true do |f| %>
     <div class="mb-3">
      <%= f.text_area :comment, { class: "form-control", placeholder: "コメントする" } %>
     </div>
     <div class="mb-4 d-grid gap-2 mx-auto text-center">
      <%= f.submit "送信", class: "btn btn-warning" %>
     </div>
    <% end %>
   <div>
  </div>
 </div>
 
 <div class="post-show-index-comment">
  <h2>コメント一覧</h2>
 </div>
 <div class ="comment-index-comment">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
     <% @comments.each do |comment| %>
      <%= link_to user_path(comment.user), {class: "link"} do %>
       <div class="comment-index-user">
        <% if comment.user.avatar.attached? %>
          <%= image_tag comment.user.avatar.variant(gravity: :center, resize:"40x40^", crop:"40x40+0+0").processed, {class: "avatar"} %>
        <% else %>
          <%= image_tag("default_user.jpg", size: "40x40", class: "avatar") %>
        <% end %>
       <% end %>
        <%= comment.user.username %>
      </div>
      <div class="comment-index-content">
       <div class="card card-comment">
        <div class="card-body">
         <%= comment.comment %>
        </div>
       </div>
       <% if comment.user == current_user %>
        <%= link_to "削除", post_comment_path(@post, comment), method: :delete %>
       <% end %>
      </div>
     <% end %>
   </div>
  </div>
 </div>
</section>